@font-face {
    font-family: 'Roboto-Regular';
    src: url('./Roboto-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    /* background: url('./logo.jpg'); */
    font-family: 'Roboto-Regular';
}